---
import { getCollection } from 'astro:content'
import site from '@/site.config'
import Logo from '@/assets/logo.svg'
import Menu from '@/assets/menu.svg'
import Close from '@/assets/close.svg'

const nav = await getCollection('nav')
---

<header class="lg:absolute inset-x-0 top-0 z-50" x-data="{ isOpen: false }">
  <div class="container">
    <div class="">
      <nav
        class="h-20 flex items-center justify-between lg:justify-start"
        aria-label="Global"
      >
        <a href="/" class="flex items-center gap-1">
          <Logo
            class="w-auto h-12"
          />
          <span class="font-black text-xl">{site.name}</span>
        </a>
        <button x-cloak @click="isOpen = !isOpen" type="button" class="rounded-md lg:hidden">
          <Menu x-show="!isOpen" />
          <Close x-show="isOpen" />
        </button>
        <div
          class="hidden lg:ml-16 lg:flex items-center lg:gap-x-12"
        >
          {
            nav.map((link) => (
              <a
                href={link.data.url}
                class:list={[
                  'text-sm/6 font-semibold text-gray-400 hover:text-white transition-colors',
                ]}
              >
                {link.data.title}
              </a>
            ))
          }
        </div>
      </nav>
    </div>
  </div>
  <div x-collapse x-cloak x-show="isOpen" class="container">
    <div class="pt-2 pb-4  flex flex-col lg:flex-row gap-x-8 gap-y-4 lg:items-center">
      {
        nav.map((link) => (
          <a
            x-on:click="setTimeout(() => isOpen = false, 500)"
            href={link.data.url}
            class:list={[
              'text-sm/6 text-gray-400 hover:text-white font-semibold transition-colors',
            ]}
          >
            {link.data.title}
          </a>
        ))
      }
    </div>
  </div>
</header>
