---
import { Image } from 'astro:assets'
import astronaut from '@/assets/astronaut.jpg'

const widths = [640, 768, 1024, 1280, 1536]
const sizes = widths.map(width => `(max-width: ${width}px) ${width}px`).join(', ')
---

<div class="overflow-hidden">
  <div class="relative">
    <!-- Image -->
    <div class="relative lg:absolute lg:inset-y-0 lg:right-0 lg:w-5/12 xl:w-1/2">
      <Image
        format="webp"
        src={astronaut}
        widths={widths}
        sizes={sizes}
        alt=""
        class="h-64 sm:h-96 object-cover object-center lg:size-full"
      />
    </div>
    <!-- Content -->
    <div class="container">
      <div class="relative z-10 lg:w-full lg:max-w-2xl xl:max-w-3xl">
        <svg
          class="absolute inset-y-0 right-8 hidden h-full  transform fill-white w-64 lg:block xl:w-80 lg:translate-x-[calc(30%)] xl:translate-x-[calc(50%-2px)]"
          viewBox="0 0 100 100"
          preserveAspectRatio="none"
          aria-hidden="true"
        >
          <polygon points="0,0 90,0 50,100 0,100"></polygon>
        </svg>
        <div class="relative py-16 flex flex-col justify-center lg:py-40 lg:min-h-screen">
          <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-xl">
            <span class="text-balance text-kc-yellow font-semibold text-xl">Space Bound</span>
            <h1
              class="mt-2 text-pretty text-4xl font-semibold tracking-tight sm:text-7xl"
            >
              Get Started with Astro ASAP.
            </h1>
            <p
              class="mt-8 text-pretty text-lg text-gray-600 sm:text-xl/8"
            >
              AstroMatt is a starter project for Astro with tons of stuff ready to roll, like Tailwind, Alpine, and more.
            </p>
            <div class="mt-10 flex items-center gap-x-6">
              <a target="_blank" href="https://github.com/mattwaler/astromatt" class="button">Visit Repo</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
